<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.xcsd</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/sandbox-exec</string>
		<string>-p</string>
		<string>(version 1) (allow default) (deny network-outbound (remote ip)) (allow network-outbound (remote ip &quot;localhost:*&quot;))</string>
		<string>/Library/Developer/XcodeServer/CurrentXcodeSymlink/Contents/Developer/usr/share/xcs/Node/bin/node</string>
		<string>/Library/Developer/XcodeServer/CurrentXcodeSymlink/Contents/Developer/usr/share/xcs/xcsd/app.js</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>NODE_ENV</key>
		<string>production</string>
		<key>NODE_CONFIG_DIR</key>
		<string>/Library/Developer/XcodeServer/CurrentXcodeSymlink/Contents/Developer/usr/share/xcs/xcsd/config</string>
	</dict>
	<key>UserName</key>
	<string>_xcsd</string>
	<key>GroupName</key>
	<string>_xcs</string>
	<key>StandardOutPath</key>
	<string>/Library/Developer/XcodeServer/Logs/xcsd.output.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Developer/XcodeServer/Logs/xcsd.output.log</string>
</dict>
</plist>
